{% extends 'baseAdmin.html.twig' %}
{% block titlePage %}Atelier'O - Administration - Connection{% endblock %}
{% block contentAdmin %}
    <h1>Log-in</h1>

    <a href="admin.php?route=adminAccueil" aria-controls="accueil" role="tab">GO TO ACCUEIL</a><br/>
    <a href="admin.php?route=adminBlog" aria-controls="accueil" role="tab">GO TO BLOG</a><br/>
    <a href="admin.php?route=adminShop" aria-controls="accueil" role="tab">GO TO SHOP</a>
{% endblock %}
