<p class="col-xs-offset-8 col-xs-4">
    <cite>
        <span class="fa fa-quote-left" aria-hidden="true"></span>
        L'Atelier O vous donne de l'amour.
        <span class="fa fa-quote-right" aria-hidden="true"></span>
    </cite>
</p>