<p class="col-md-offset-6 col-md-5 quote col-sm-offset-3 col-sm-10 col-xs-offset-5">
    <cite>
        <span class="fa fa-quote-left quoteIconLeft" aria-hidden="true"></span>
        L'Atelier O vous donne de l'amour.
        <span class="fa fa-quote-right quoteIconRight" aria-hidden="true"></span>
    </cite>
</p>