<p class="col-lg-offset-6 col-md-offset-5 col-md-6 col-sm-offset-3 col-sm-10 quote">
    <cite>
        <span class="fa fa-quote-left quoteIconLeft" aria-hidden="true"></span>
        L'Atelier O vous donne de l'amour.
        <span class="fa fa-quote-right quoteIconRight" aria-hidden="true"></span>
    </cite>
</p>