{% include 'header.html.twig' %}
{% include 'Home/presentation.html.twig' %}
{#<hr/>
<div class="well text-center">
    <img style="max-width: 350px;" src="images/logoAtelierOWeb.png" alt="Logo Atelier O">
    <h1>
        En cours de construction
        <br/>
        <small>revenez bientôt</small>
    </h1>
</div>#}
{% include 'footer.html.twig' %}
