<h2 class="actu">Notre Actualité</h2>
<hr />

<!-- PC -->
<div class="row col-lg-offset-1 col-lg-10 hidden-md hidden-sm hidden-xs">

    <img class="col-lg-4 imgblog" src="../../images/banner/banner.jpg" alt="">

    <div class="col-lg-4">
        <div class="row">
            <img class="col-lg-6 imgpc" src="../../images/banner/banner.jpg" alt="">
            <img class="col-lg-6 imgpc" src="../../images/banner/banner.jpg" alt="">
        </div>
    </div>

    <img class="col-lg-4 imgblog" src="../../images/banner/banner.jpg" alt="">

</div>
<div class="row col-lg-offset-1 col-lg-10 hidden-md hidden-sm hidden-xs">
    <div class="col-lg-4 imginsta">
        <div class="row">
            <img class="col-lg-6 imgpc" src="../../images/banner/banner.jpg" alt="">
            <img class="col-lg-6 imgpc" src="../../images/banner/banner.jpg" alt="">
        </div>
    </div>

    <img class="col-lg-4 imgblog imgup" src="../../images/banner/banner.jpg" alt="">

    <div class="col-lg-4 imginsta">
        <div class="row">
            <img class="col-lg-6 imgpc" src="../../images/banner/banner.jpg" alt="">
            <img class="col-lg-6 imgpc" src="../../images/banner/banner.jpg" alt="">
        </div>
    </div>
</div>

<!-- Tablette -->
<h3 class="hidden-lg hidden-xs">Nos derniers articles</h3>
<hr class="hidden-lg hidden-xs"/>
<div class="row hidden-lg hidden-xs">

    <img class="col-md-6 col-sm-6 imgtab" src="../../images/banner/banner.jpg" alt="">
    <img class="col-md-6 col-sm-6 imgtab" src="../../images/banner/banner.jpg" alt="">

</div>
<div class="row hidden-lg hidden-xs actuspacetop">

    <img class="col-md-6 col-sm-6 imgtab" src="../../images/banner/banner.jpg" alt="">
    <img class="col-md-6 col-sm-6 imgtab" src="../../images/banner/banner.jpg" alt="">

</div>
<h3 class="hidden-lg hidden-xs actu">Notre fil Instagram</h3>
<hr class="hidden-lg hidden-xs"/>
<div class="row hidden-lg hidden-xs">

    <img class="col-md-6 col-sm-6 imgtab" src="../../images/banner/banner.jpg" alt="">
    <img class="col-md-6 col-sm-6 imgtab" src="../../images/banner/banner.jpg" alt="">

</div>
<div class="row hidden-lg hidden-xs actuspacetop">

    <img class="col-md-6 col-sm-6 imgtab" src="../../images/banner/banner.jpg" alt="">
    <img class="col-md-6 col-sm-6 imgtab" src="../../images/banner/banner.jpg" alt="">

</div>

<!-- Mobile -->
<h3 class="hidden-lg hidden-md hidden-sm">Nos derniers articles</h3>
<hr class="hidden-lg hidden-md hidden-sm"/>
<div class="row hidden-lg hidden-md hidden-sm">

    <img class="col-xs-12" src="../../images/banner/banner.jpg" alt="">
    <img class="col-xs-12 actuspacetop" src="../../images/banner/banner.jpg" alt="">
    <img class="col-xs-12 actuspacetop" src="../../images/banner/banner.jpg" alt="">

</div>
<h3 class="hidden-lg hidden-md hidden-sm actu">Notre fil Instagram</h3>
<hr class="hidden-lg hidden-md hidden-sm"/>
<div class="row hidden-lg hidden-md hidden-sm">

    <img class="col-xs-12" src="../../images/banner/banner.jpg" alt="">
    <img class="col-xs-12 actuspacetop" src="../../images/banner/banner.jpg" alt="">
    <img class="col-xs-12 actuspacetop" src="../../images/banner/banner.jpg" alt="">

</div>