<section class="row aboutUs">
    <div class="col-xs-offset-1 col-sm-10">
        <h2>Qui sommes-nous</h2>
        <hr />
    </div>
    <img class="col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-10 img-thumbnail" src="images/AboutUs/imageAboutUs.jpg" alt="Photo des créatrices">
    <div class="col-lg-4 col-md-offset-1 col-lg-offset-0 col-md-10">
        <p class="presentationText">
            {{ aboutUs.textPresentation|raw }}
        </p>
    </div>
</section>