</div> <!-- // Close the container -->

<footer class="pdpView">
    <div class="container-fluid footer_container">
        <div class="row footer_place">
            <div class="col-sm-3 col-xs-offset-1 col-xs-6 partLeft">
                <div class="row footer_nav">
                    <div class="col-sm-4">
                        <a href="#"><span class="fa fa-home" aria-hidden="true"></span></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#">Blog</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#">Shop</a>
                    </div>
                </div>
                <div class="row ml">
                    <span data-toggle="modal" data-target="#mentionL"><a href="#mentionL"> Mentions légales</a></span>
                </div>
            </div>

            <!-- start modal mentions légales-->
            <div class="modal fade " tabindex="-1" role="dialog" id="mentionL" aria-labelledby="legales">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content footer_mentionL">

                        {% include 'Home/mentionsLegales.html.twig' %}

                    </div>
                </div>
            </div>
            <!-- /*end mentions legales -->


            <div class="col-sm-3 col-xs-5 partRight">
                <div class="row footer_icon">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a href="https://www.facebook.com/lAtelierO/"><span
                                    class="fa fa-facebook-square fa-4x fa-footer" aria-hidden="true"></span></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#"><span class="fa fa-instagram fa-4x fa-footer" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-offset-1 contactBtn">
                <button type="button" class="btn btn-default button_form_footer" data-toggle="modal"
                        data-target="#form_footer">Contactez-nous
                </button>
            </div>

            <!-- /* start modal form */-->
            <div class="modal fade modal_form" tabindex="-1" role="dialog" id="form_footer"
                 aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        {% if errors %}
                            <ul class="alert alert-danger">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form class="form-horizontal" action="index.php?route=formContact" method="post">
                            <fieldset class="footer_form">
                                <div class="form-group">
                                    <label for="name">Votre nom</label>
                                    <input type="text" class="form-control" name="name" id="form_name"
                                           placeholder="Votre nom" value="{{ mail['name'] ?? '' }}">
                                </div>

                                <div class="form-group">
                                    <label for="email">Votre e-mail</label>
                                    <input type="email" name="mailExpe" class="form-control" id="form_email"
                                           placeholder="Votre e-mail" value="{{ mail['mail'] ?? '' }}">
                                </div>


                                <div class="form-group">
                                    <textarea class="form-control" name="body" rows="8"
                                              placeholder="Votre message">{{ mail['body'] ?? '' }}</textarea>
                                </div>

                                <button type="submit" class="btn_contact">Envoyer</button>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /*end modal form*/-->
        </div>
    </div>
</footer>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
{% if errors %}
    <script>
        $('#form_footer').modal('show');
    </script>
{% endif %}
</body>

</html>