  <!-- Start Nav -->
  <a href="index.php" title="Accueil L'Atelier O"><img src="images/logoAtelierOWeb.png" alt="logo"
         class="img-responsive center-block logonav hidden-sm hidden-md hidden-lg"/></a>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="index.php?route=accueil" title="Accueil L'Atelier O"><span class="fa fa-home" aria-hidden="true"></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified">
                    <li class="textBar"><a href="index.php?route=blog" title="Blog Atelier O">blog</a></li>
                    <li class="hidden-xs"><a href="index.php?route=accueil" title="Accueil L'Atelier O"><img src="images/logoAtelierOWeb.png" alt="logo"
                                                                                          class="img-responsive center-block logonav"/></a></li>
                    <li class="textBar shop"><a href="index.php?route=shop" title="Shop Atelier O">shop</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End Nav -->