/*-*-*-*-* START CSS *-*-*-*-*/

h1, h2, h3, h4, h5 {
    font-family: "Encode Sans Expanded",  Helvetica, sans-serif;
}

p, span, b, i{
font-family: "Open Sans", Helvetica, sans-serif;
}

.linetitle {
    max-width: 100px;
    background: #FFBF91;
    height: 5px;
    margin-left: 0%;
}

.linetitlemini {
    max-width: 100px;
    background: #FFBF91;
    height: 2px;
    margin-left: 0%;
}

/* Start NavBar */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #F8DCD1;
    font-size: calc(1.3vw + 20px);
}

.navbar-default .nav-justified > li > a {
    color: grey;
    text-transform: uppercase;
    font-family: "Encode Sans Expanded", Helvetica, sans-serif;
    font-size: calc(1.3vw + 10px);
}

.navbar-default .textBar {
    vertical-align: bottom;
    padding-bottom: 2.3%;
}

.navbar .logonav {
    padding-top: 3%;
}

.navbar-default .nav-justified > li > a:focus, .navbar-default .nav-justified > li > a:hover {
    color: #F8DCD1;
    outline: none;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: grey;
    outline: none;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

/* End NavBar */

/* Start Banner */
.banner {
    max-width: 1350px;
    height: 350px;
    background: url('../../images/banner/banner.jpg') no-repeat center;
    background-size: cover;
}

/* End Banner */

/* Start Quote */
.quote {
    margin-top: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: calc(1.72vw + 15px);
    color: #5b5b5b;
}

.quoteIconLeft {
    color: #F8DCD1;
    font-size: calc(0.7vw + 15px);
}

.quoteIconRight {
    color: #F8DCD1;
    font-size: calc(0.7vw + 15px);
}

/* End quote */

/* Start News */

/* News Form PC */
.actu {
    margin-top: 5%;
}

.imgblog, .imgpc {
    object-fit: cover;
    object-position: center;
    height: 500px;
    width: 100%;
}

.imgblog:hover, .imgpc:hover {
    border-bottom: inset white;
}

.imgpc {
    height: 250px;
}

.imgdecalbottom {
    margin-bottom: 30px;

}

.imgup {
    margin-top: -15.6%;
}

.imginsta {
    max-width: 100%;
    margin-top: 1%;
}
.imgdecaltop {
    margin-top: 30px;
}

/* News Form Tablette */
.imgtab {
    object-fit: cover;
    object-position: center;
    height: 350px;
    max-width: 100%;
}

/* News Form Tel */
.imgtel img {
    object-fit: cover;
    object-position: center;
    height: 300px;
    max-width: 100%;
}
  
.titleteltablette {
    margin-top: 5%;
}

.formteltablette {
    margin: 1%;
}

/* End News */

/* Start AboutUs */
.aboutUs {
    margin-top: 5%;
}

.aboutUs .presentationText {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: calc(0.5vw + 10px);
}

/* End AboutUs */

/* Start Partner */
.partnerImage {
    display: inline-block;
    max-height: 100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.partnerSection {
    margin-top: 5%;
}
/* End Partner */

/* Start Shop */

.thumbnail > img {
    height: 300px;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

.thumbnailShop {
    height: 400px;
}

.btn-shop {
    background-color: #F8DCD1;
}

.form-inline-shop {
    margin-top: 5px;
    display: inline-block;
}
.hrShop {
    margin: 0;
}

.shopQuote {
    margin-top: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: calc(1.72vw + 15px);
    color: #5b5b5b;
    margin-bottom: 5%;
}

.myList {
    display: none;
    list-style-type:none;
}

.btnSeeMore {
    color: black;
    cursor: pointer;
    background-color: #F8DCD1;
}

.btnSeeMore:hover {
    color: black;
    cursor: pointer;
    background-color: #F8DCD1;
}

.btnSeeMore:visited {
    color: black;
    cursor: pointer;
    background-color: #F8DCD1;
}


/* End Shop */

/* Start Blog */

.blog {
    margin-right: 0;
    margin-left: 0;
}

.blogArticle {
    margin-bottom: 4%;
    height: 450px;
}

.blogQuote {
    margin-top: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: calc(1.72vw + 15px);
    color: #5b5b5b;
    margin-bottom: 5%;
}

.blog h3 {
    font-family: "Encode Sans Expanded",  Helvetica, sans-serif;
}

.blog p {
    font-family: 'Open Sans',  Helvetica, sans-serif!important;
    word-break: break-all;
    margin-left: 2%;
}

.blog .vignettes {
    position: relative;
    bottom: 0;
    margin-top: 3%;
}

.blog .mainImage {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.blog .imgVignettes {
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.blog .imgModal {
    max-height: 80vh;
    margin: auto;
}

.btnSeeMore2 {
    color: black;
    cursor: pointer;
    background-color: #F8DCD1;
}

.btnSeeMore2:focus {
    background-color: #F8DCD1;
}

.margeUl {
    padding-left: 0;
}

.titleArticleBlog {
    margin-left: 15px;
}

/* End Blog */

/* Start Footer */
.footer_container {
    font-family: 'Encode Sans Expanded', Helvetica, sans-serif;
    background-color: #F8DCD1;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    top: 35%;
}

.footer_container a {
    color: black;
}

.footer_nav {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
}

.footer_container .fa-footer {
    margin-top: 15%;
    font-size: calc(2vw + 15px);
}

.footer_nav a {
    font-size: calc(0.8vw + 15px);
}

.ml {
    text-align: center;
    padding-top: 5%;
    font-size: calc(0.3vw + 10px);
}

/* mouse over link */
.footer_container a:hover, .footer_container a:focus {
    color: darkgrey;
    text-decoration: none;
    outline: none;
}

.footer_container .contactBtn {
    text-align: center;
    z-index: 1;
}

.footer_container .partRight, .partLeft {
    z-index: 2;
}

.button_form_footer {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: calc(1.3vw + 10px);
    background-color: #F8DCD1;
    border: none;
    padding: 5%;
    color: black;
}

.button_form_footer:hover {
    background-color: grey;
    color: #F8DCD1;
}

.footer_container .btn-default:focus {
    color: black;
    background-color: transparent;
    border-color: transparent;
}

.modal_form {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: calc(0.4vw + 10px);
}

.modal_form h2 {
    font-size: calc(0.4vw + 14px);
}

.modal_form h3 {
    font-size: calc(0.4vw + 12px);
}

.modal_form textarea {
    resize: vertical;
}

.footer_mentionL {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: calc(0.2vw + 10px);
}

.footer_mentionL h2 {
    font-size: calc(0.2vw + 14px);
}

.footer_mentionL h3 {
    font-size: calc(0.2vw + 12px);
}

/* End Footer */

/* Start Admin */
.bannerAdmin {
    max-width: 675px;
    height: 175px;
    background: url('../../images/banner/banner.jpg') no-repeat center;
    background-size: cover;
}

.uploadInput {
    width: 100%;
}

.imgPartner {
    height: 75px;
    width: 75px;
}

.thumbnailPartner {
    position: relative;
    height: 180px;
}

.imagesArticle {
    padding: 2%;
}

.imgblogthMain {
    max-height: 350px;
}

.imgblogth {
    max-height: 200px;
}

.delPartnerButton {
    position: absolute;
    width: 90%;
    bottom: 5px;
    right: 5%;
}

.partnerAbsolute {
    position: absolute;
    bottom: 5px;
    margin-bottom: 30px;
}
/* End Admin */

/*-*-*-*-* END CSS *-*-*-*-*/

/*-*-*-*-* START MEDIA QUERIES *-*-*-*-*/
@media screen and (max-width: 767px) {
    /* COL-XS */
    /* Start Navbar */
    .navbar-header {
        background-color: #F8DCD1;
    }

    .navbar-default .navbar-toggle {
        border-color: black;
        background-color: #F8DCD1;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: black;
    }

    .navbar-default .navbar-brand {
        color: black;
    }

    .logonav {
        padding: 5%;
    }

    /* End Navbar */
    .button_form_footer {
        margin-top: 3%;
    }

    /* Start Partner */
    .partnerImage {
        max-height: 70px;
        margin: 20px;
    }
    /* End Partner */

}

/*-*-*-*-* END MEDIA QUERIES *-*-*-*-*/
