/*-*-*-*-* START CSS *-*-*-*-*/

/* Start NavBar */
.logonav {
    position: relative;
    z-index: 1;
    width: 400px;
    height: auto;
    margin-top: -70px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-top: -210px;
}

.navbar-default .navbar-brand {
    color: black;
    font-size: calc(1.3vw + 20px);
    padding-left: 150px;
    padding-right: 150px;
    margin-top: -12px;
}

.navbar-default .navbar-nav > li > a {
    color: rgb(237, 123, 78);
    text-transform: uppercase;
    font-family: "Encode Sans Expanded", Helvetica;
    font-size: calc(1.3vw + 10px);
    padding-right: 400px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: rgb(233, 92, 71);
    outline: none;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: rgb(233, 92, 71);
    outline: none;
}
/* End NavBar */

/* Start Blog */
.blog h2 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: "Encode Sans Expanded";
}

.blog h3 {
    margin-bottom: 20px;
    font-family: "Encode Sans Expanded";
    padding: 0;
}

.blog p {
    font-family: 'Open Sans';
    text-align: justify;
    padding: 0;
}

.blog .vignettes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.blog .mainImage {
    padding: 0;
}

.blog article {
    margin-bottom: 50px;
    position: relative;
}

.blog .btn {
    width: 200px;
    height: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.blog .partRight {
    height: 450px;
}

.blog .thumbnail {
    padding: 30px;
    margin-bottom: 0;
    position: relative;
}

.blog .glyphicon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: grey;
}

/* End Blog */

/* Start Footer */

footer {
    font-family: 'Encode Sans Expanded', sans-serif;
    background-color: black;
    height: 28vh;
}


.footer_nav li {
    display : inline;
    padding : 0 0.5em;
    font-size: 1.1vw;
    color: white;
}

.mentionsL {
    font-size: 1.1vw;
    padding : 3.3em;
}

.footer_place {
    padding-top: 11vh;
    padding-right: 5vh;
}

.fa-footer {
    padding-right: 5vw;
}

.fa-footer2 {
    outline: none;
}

a:link {
    color: rgb(233, 92, 71);
}

/* visited link */
a:visited {
    color: rgb(233, 92, 71);
}

/* mouse over link */
a:hover {
    color: white;
}

.footer_form{
padding: 50px 50px 50px 50px ;

}

.button_form_footer{
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: calc(1.3vw + 10px);
    background-color: rgb(233, 92, 71);
}

.button_form_footer:hover {
    background-color: rgb(233, 92, 71);
}

.modal_form {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1vw;
    text-align: center;
}

.footer_mentionL {
    font-family: 'Encode Sans Expanded', sans-serif;
    padding: 50px 50px 50px 50px ;
}
.footer_mentionL h2 {
    padding-bottom: 10px;
    text-align: center;
}

/* End Footer */

/*-*-*-*-* END CSS *-*-*-*-*/


/*-*-*-*-* START MEDIA QUERIES *-*-*-*-*/

@media screen and (max-width: 767px){ /* COL-XS */

/* Start NavBar */
.navbar-default {
        margin-top: 0;
        background-color: rgb(244, 164, 119);
    }

    .navbar-default .navbar-brand {
        margin-top: -3px;
        padding-left: 20px;
        color: white;
    }

    .navbar-default .navbar-nav > li > a {
        color: white;
    }

    .navbar-default .navbar-toggle {
        border-color: white;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover  {
        background-color: rgb(233, 92, 71);
    }

    .navbar {
        margin-top: -50px;
        z-index: 1;
    }
/* End NavBar */

}

@media screen and (min-width: 768px) AND (max-width: 991px){ /* COL-SM */

/* Start NavBar */
.navbar-default .navbar-brand {
        padding-left: 60px;
        padding-right: 20px;
        margin-top: -5px;
    }

    .navbar-default .navbar-nav > li > a {
        padding-right: 100px;
    }
/* End NavBar */

}

@media screen and (min-width: 992px) AND (max-width: 1199px){ /* COL-MD */

/* Start NavBar */
.navbar-default .navbar-brand {
        padding-left: 100px;
        padding-right: 50px;
        margin-top: -8px;
    }

    .navbar-default .navbar-nav > li > a {
        padding-right: 60px;
    }
/* End NavBar */

}

@media screen and (min-width: 1200px) { /* MEDIA FOR COL-LG */

/* Start NavBar */

/* End NavBar */

}

/*-*-*-*-* END MEDIA QUERIES *-*-*-*-*/
