{% extends 'Admin/Blog/adminBlog.html.twig' %}

{% block blogAction %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <b>Liste des articles</b>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <a class="btn btn-success pull-right" href="admin.php?route=addArticleBlog" role="button">Ajouter un
                        article</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-9">
                            <h3>Nom de l'article</h3>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-3">
                            <h3>Date</h3>
                        </div>
                    </div>

                    {% for articleBlog in articlesBlog %}
                    <hr/>

                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-9">
                            <h4>{{ articleBlog.title | title }}</h4>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-3">
                            <h4>{{ articleBlog.date }}</h4>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="pull-right">
                                <a href="admin.php?route=updateArticleBlog&id={{ articleBlog.id }}"
                                   class="btn btn-warning btn-sm">Modifier</a>

                                <form action="admin.php?route=deleteArticleBlog" method="post" class="form-inline-shop">
                                    <input type="hidden" name="id" value="{{ articleBlog.id }}"/>
                                    <button class="btn btn-danger btn-sm" type="submit" name="">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr class="hrShop">
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
