{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <h2>Phrase accroche : </h2><br/>
    </div>
</div>

<div class="row ">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            {% for creation in creations %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail thumbnailShop">
                        <img src="uploads/{{ creation.urlPicture }}" alt="création en céramique">
                        <div class="caption ">
                            <div class="row ">
                                <div class="col-xs-7">
                                    <h4>{{ creation.title }}</h4>
                                </div>
                                <div class="col-xs-3">
                                    <h4 class="pull-right">{{ creation.price }}€</h4>
                                </div>
                                <div class="col-xs-2">
                                    <button href="#"
                                       class="btn btn-info glyphicon glyphicon-shopping-cart pull-right"
                                       role="button"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}