<div class="panel panel-info" id="AboutUs">
    <div class="panel-heading"><b>Votre présentation</b></div>
    <div class="panel-body">
        <div class="row">
            <img class="thumbnail col-md-3 col-md-offset-1 img-responsive" src="images/aboutUs/aboutUs.jpg" alt=""/>

            <div class="col-xs-7 col-md-7 col-sm-12">
                <div class="thumbnail center-block hidden-xs">{{ aboutUs.textPresentation|raw }}</div>
            </div>
        </div>
        <hr class="hidden-xs"/>
        <div class="row">
            <div class="col-xs-12">
                <form action="admin.php?route=adminAccueil" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="aboutUsFile">Choisir une nouvelle image:</label>
                        <input type="file" name="aboutUsFile" id="aboutUsFile" class="uploadInput form-control"/>
                        <small>Format: jpg | Taille maximum: 2Mo | Dimensions recommandées: En fonction de votre texte de présentation.</small>
                        <input type="hidden" name="id" value="{{ aboutUs.id }}"/>
                    </div>
                    <div class="form-group">
                        <label for="aboutUsSummernote">Votre description:</label>
                        <textarea id="aboutUsSummernote" class=""
                                  name="aboutUs">{{ aboutUsPost.textPresentation ?? aboutUs.textPresentation }}</textarea>
                        <button type="submit" class="btn btn-default pull-right">Modifier</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<hr class="hidden-xs"/>
