<div class="panel panel-info" id="Banner">
    <div class="panel-heading"><b>Envoyer une nouvelle bannière</b></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="thumbnail bannerAdmin center-block hidden-xs"></div>
            </div>
        </div>
        <hr class="hidden-xs"/>
        <div class="row">
            <div class="col-xs-12">
                <form action="admin.php?route=adminAccueil" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="banner">Choisir une nouvelle image:</label>
                        <input type="file" name="banner" id="banner" class="uploadInput form-control"/>
                        <small>Format: jpg | Taille maximum: 2Mo | Dimensions recommandées: 1350px * 350px</small>
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Modifier</button>
                </form>
            </div>
        </div>
    </div>
</div>
<hr class="hidden-xs"/>